@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Protest+Strike&family=Alfa+Slab+One&family=Bungee&display=swap');
input,
button {
    outline: none;
}

a {
    color: blue;
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    /* overflow: hidden; */
}

#main {
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.page-1 {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 30%;
    height: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.page-1 .notification {
    color: #ffffff;
    font-family: "Bungee";
    font-weight: bold;
}

.page-1 .image {
    height: 200px;
    width: 200px;
}

.btn-user {
    position: absolute;
    z-index: 2;
    top: 60%;
    height: 50px;
    width: 100px;
    font-family: "Alfa Slab One";
    font-size: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 10px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    transition: 0.5s;
    cursor: pointer;
}

.btn-user.btn-no {
    left: 35%;
    background-color: rgb(255, 112, 112);
}

.btn-user.btn-yes {
    left: 70%;
    background-color: aqua;
}

.page-2 {
    position: absolute;
    z-index: 3;
    opacity: 1;
    left: 35%;
    height: 55%;
    width: 40%;
    margin-top: 50px;
    border: 5px solid rgb(255, 106, 131);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #8f8f8f;
    transition: 0.5s;
}

.page-2.hidden {
    z-index: 0;
    opacity: 0;
}

.page-2 .image-receive {
    height: 220px;
    width: 220px;
}

.page-2 .notification-receive-1 {
    color: #ffffff;
    font-family: 'Protest Riot', sans-serif;
}

.page-2 .notification-receive-2 {
    color: #ffffff;
    font-family: 'Protest Riot', sans-serif;
}

.login {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 200px;
    margin-right: 20px;
    clip-path: circle(100px at 50% 50%);
}

.login label {
    margin-right: 5px;
    font-weight: bold;
}

.login input {
    margin-right: 10px;
    border: 2px solid #000;
    border-radius: 5px;
}

.btn-admin {
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.content {
    position: absolute;
    z-index: 2;
    opacity: 1;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}

.content.hidden {
    z-index: 0;
    opacity: 0;
}

.content .title {
    margin-left: 20px;
    font-family: "Bungee";
}

.content table {
    width: 80%;
}

.content table th {
    font-family: "Bungee";
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

.content table td {
    padding-left: 5px;
    font-weight: bold;
    border-left: 2px solid #888888;
    border-bottom: 2px solid #888888;
}

@media screen and (max-width: 800px) {
    .page-1 .notification {
        font-size: 25px;
    }
}

@media screen and (max-width: 500px) {
    .page-1 {
        top: 20%;
        left: 10%;
        width: 80%;
    }
    .page-1 .notification {
        font-size: 20px;
    }
    .page-2 {
        left: 10%;
        max-height: 40%;
        width: 80%;
    }
    .page-2 .notification-receive-1 {
        font-size: 25px;
    }
}